
.container {
    text-align: center;
    background: black;
    color: #39ff14;
    font-family:Lucida Console, Courier, Monotype; 
    padding-bottom: 20px;
    padding-top: 20px;
}
.morpheus{
    float: left;
    width: 200px;
    height: 200px;
}

.neo{
    float: right;
    width: 200px;
    height: 200px;
}

body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }