
.container {
    text-align: center;
    background-color: black;
    color: #39ff14;
    font-family:Lucida Console, Courier, Monotype; 
    padding-bottom: 80px;
    padding-top: 80px;
    width: 80%;
    display: inline-block;
}
.morpheus{
    float: left;
    width: 200px;
    height: 200px;
}

 
.neo{
    float: right;
    width: 200px;
    height: 200px;
}

body {
    background-color: #121212;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }